<!-- Bit of information about loans, just for cosmetic purposes  --> 
<h1> Loans </h1>
<p> this->$Bank offers mortgage or home loans with fixed or variable rates; personal
 	loans for debt consolidation or buying a car, boat or holiday; and margin lending.
</p>

